.wrap{
    margin-top: 20rem;
    margin-left: 38rem;
}
button {
    background-color: #c5e5ed;
    border: none;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    padding: 5px 2px;
    width: 10rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
  }
  input{
    height:25px ;
  }
  